{% for accession_group in accession_groups %}
  <tr data-virtual-row="1">
    <td><a href="{% url 'browser:accession-detail' accession_group.accession %}">{{ accession_group.accession }}</a></td>
    <td><a href="{% url 'browser:accession-detail' accession_group.accession %}">{{ accession_group.source_genomes_count }}</a></td>
    <td>{{ accession_group.source_runs_count }}</td>
    <td>
      <a href="{% url 'browser:repeatcall-list' %}?run={{ accession_group.latest_pipeline_run.run_id|urlencode }}&amp;genome={{ accession_group.genome_id|urlencode }}{% if current_branch_q %}&amp;branch_q={{ current_branch_q|urlencode }}{% elif current_branch %}&amp;branch={{ current_branch|urlencode }}{% endif %}">{{ accession_group.repeat_calls_count }}</a>
    </td>
    <td>
      <a href="{% url 'browser:protein-list' %}?run={{ accession_group.latest_pipeline_run.run_id|urlencode }}&amp;genome={{ accession_group.genome_id|urlencode }}{% if current_branch_q %}&amp;branch_q={{ current_branch_q|urlencode }}{% elif current_branch %}&amp;branch={{ current_branch|urlencode }}{% endif %}">{{ accession_group.proteins_count }}</a>
    </td>
    <td>{{ accession_group.analyzed_protein_count }}</td>
  </tr>
{% endfor %}
