{% for genome in genomes %}
  <tr data-virtual-row="1">
    <td>
      {% if genome.latest_source_genome_pk %}
        <a href="{% url 'browser:genome-detail' genome.latest_source_genome_pk %}">{{ genome.accession }}</a>
      {% else %}
        <a href="{% url 'browser:accession-detail' genome.accession %}">{{ genome.accession }}</a>
      {% endif %}
    </td>
    <td>{{ genome.genome_name }}</td>
    <td>
      <a href="{% url 'browser:taxon-detail' genome.taxon.pk %}?run={{ genome.latest_pipeline_run.run_id|urlencode }}">
        {{ genome.taxon.taxon_name }}
      </a>
    </td>
    <td><a href="{% url 'browser:run-detail' genome.latest_pipeline_run.pk %}">{{ genome.latest_pipeline_run.run_id }}</a></td>
    <td><a href="{% url 'browser:sequence-list' %}?run={{ genome.latest_pipeline_run.run_id|urlencode }}&amp;genome={{ genome.genome_id|urlencode }}">{{ genome.sequences_count }}</a></td>
    <td><a href="{% url 'browser:protein-list' %}?run={{ genome.latest_pipeline_run.run_id|urlencode }}&amp;genome={{ genome.genome_id|urlencode }}">{{ genome.proteins_count }}</a></td>
    <td><a href="{% url 'browser:repeatcall-list' %}?run={{ genome.latest_pipeline_run.run_id|urlencode }}&amp;genome={{ genome.genome_id|urlencode }}">{{ genome.repeat_calls_count }}</a></td>
  </tr>
{% endfor %}
