{% for protein in proteins %}
  <tr data-virtual-row="1">
    <td><a href="{% url 'browser:protein-detail' protein.latest_source_protein_pk %}">{{ protein.protein_name }}</a></td>
    <td>{{ protein.gene_symbol|default:"-" }}</td>
    <td><a href="{% url 'browser:genome-detail' protein.latest_source_genome_pk %}">{{ protein.accession }}</a></td>
    <td>
      <a href="{% url 'browser:taxon-detail' protein.taxon_id %}?run={{ protein.latest_pipeline_run.run_id|urlencode }}">
        {{ protein.taxon.taxon_name }}
      </a>
    </td>
    <td><a href="{% url 'browser:run-detail' protein.latest_pipeline_run_id %}">{{ protein.latest_pipeline_run.run_id }}</a></td>
    <td>
      <a href="{% url 'browser:repeatcall-list' %}?run={{ protein.latest_pipeline_run.run_id|urlencode }}&amp;protein={{ protein.protein_id|urlencode }}">
        {{ protein.repeat_call_count }}
      </a>
    </td>
  </tr>
{% endfor %}
